body {
    background-color: #f0ecff;
}

.navbar-brand {
    font-family: 'Borel', 'Cairo',
        sans-serif;

}
.card-cursor{
      cursor: pointer;
}
#add-post {
    position: fixed;
    z-index: 999;
    right: 7%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 900;
    background-color: #04a973;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff !important;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.wrap .img {
    height: 200px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 576px) {
    .profile{
        align-items: center;
    }
    #login-div{
        justify-content: space-between !important;
        margin: 12px auto;
    }
    #logout-div{
        justify-content: start !important;
        margin: 12px auto;
    }
}
@media (max-width: 768px) {
  .profile{
    align-items: center;
}

}
/* loader */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
#loader{
    background: rgba(128, 128, 128, 0.495); 
    position: fixed; 
    top: 0px;
     bottom: 0px;
    left: 0px; 
    right: 0px; 
    margin: auto auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 
    width: 100px; 
    height: 100px;
     border-radius: 20px;
     
}